.cardSection{
  max-width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10%; 
}

.media{
  width: 150px;
  height: 150px;
  align-self: center;
}

.actionsSection{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.stepper_input {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px black solid;
  display: -webkit-flex;
  color: gray;
  max-width: 120px;
  margin: 6px auto;
}


.quantity {
  height: 24px;
  width: 48px;
  text-align: center;
  margin: 0 12px;
  border-radius: 2px;
  border: 1px solid gray;
}

.quantity:focus {
    outline: none;
    border-color: green;
  }


.cartItem{
  max-width: 300px;
  display: flex;
  direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.shoppingCart{
  margin-top: 10px;
  background-color: white;
  border-radius: 10px;
  border: 0.5px black solid;
  z-index: 1;
}